.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    font-weight: 20px;
}
.secondary-bg{
   background-color:  #FFF8F3;
}

/* nav styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
}

nav ul a {
    text-decoration: none;
}

/* header */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-left: 20px;
}

/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
}

.banner-content {
    max-width: 590px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 500;
}

.banner-title {
    font-weight: 800;
    font-size: 85px;
}

.banner-profile-pic {
    width: 590px;
}

/* about styles */
.about{
   text-align: center;
padding: 131px 156px;
margin-top: 130px;
border-radius: 10px;    
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}
.section-description{
color: #757575;
font-size: 18px;
font-weight: 200px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
   
}